<h1 class="page-header">Coverage - {{name}}
  {{#if jobId}}
  <a class="btn btn-info" href="/view/job/{{jobId}}/run/{{runId}}">Run</a>
  <a class="btn btn-info" href="/view/job/{{jobId}}">Job</a>
  {{/if}}
</h1>

<table class="table table-striped gills-table">
  <thead>
    <tr>
      <th colspan=3>
        <div class="progress">
          <div class="progress-bar {{#if testResult.coverage.misses}}progress-bar-danger{{else}}progress-bar-success active{{/if}}" role="progressbar" aria-valuenow="{{testResult.coveragePercent}}" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            {{testResult.coveragePercent}}%
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan=2>filename</td>
      <td>percent</td>
    </tr>
    {{#each testResult.coverage.files}}
      {{#if this.misses}}
    <tr class="danger">
      <td colspan=2>{{this.filename}}</td>
      <td>{{this.percent}}</td>
    </tr>
    <tr>
      <td>line</td>
      <td>contents</td>
      <td>hits</td>
    </tr>
        {{#each this.source}}
          {{#if this.miss}}
    <tr class="danger">
      <td>{{@key}}</td>
      <td>{{this.source}}</td>
      <td>{{this.hits}}</td>
    </tr>
            {{#each this.chunks}}
<!--
              {{#if this.miss}}
    <tr class="danger">
      <td>{{this.miss}}</td>
      <td colspan=2>{{this.source}}</td>
    </tr>
              {{/if}}
-->
              {{coverageStringCompare this}}
            {{/each}}
          {{/if}}
        {{/each}}
      {{else}}
<!--
    <tr class="success">
      <td colspan=2>{{this.filename}}</td>
      <td>{{this.percent}}</td>
    </tr>
-->
      {{/if}}
    {{/each}}
  </tbody>
</table>
