<a class="navbar-brand" href="/view/jobs">Fast Intelligent Continuous Integration On Node</a>
  {{#if credentials}}
<form class="form-inline navbar-form navbar-right" role="form" method="GET" action="/view/logout">
  <button type="submit" class="btn btn-default">logout</button>
</form>
{{#if credentials.userId}}
<a class="navbar-brand navbar-right" href="/view/user/{{credentials.userId}}">{{credentials.displayName}} ({{credentials.name}})</a>
{{else}}
<span class="navbar-brand navbar-right">{{credentials.name}}</a>
{{/if}}
  {{else}}
<form class="form-inline navbar-form navbar-right" role="form" action="/view/login" method="post">
  <div class="form-group">
    <label class="sr-only" for="name">username</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="username">
  </div>
  <div class="form-group">
    <label class="sr-only" for="password">password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="password">
  </div>
  <button type="submit" class="btn btn-default" name="type" value="local">login</button>
  <button type="submit" class="btn btn-default" name="type" value="github">github</button>
</form>
  {{/if}}
