<div class="col-xs-10">
  <a class="navbar-brand href="/">ficion - Fast Intelligent Continuous Integration On Node</a>
  <div>
    <form class="navbar-form">
      {{#if angler}}
      <input type="button" class="form-control" value="logout">
      {{else}}
      <input type="text" class="form-control" placeholder="username">
      <input type="text" class="form-control" placeholder="password">
      <input type="button" class="form-control" value="login">
      {{/if}}
    </form>
  </div>
</div>
