          <h1 class="page-header">Job
            {{#if id}}
            <a href="/gills/job/{{id}}/delete"><button type="submit" class="btn btn-danger">Delete</button></a>
            <a href="/gills/job/{{id}}/start"><button type="submit" class="btn btn-info">Start</button></a>
            <a href="/gills/queue/{{id}}/add"><button type="submit" class="btn btn-info">Add</button></a>
            <a href="/gills/job/{{id}}/workspace/delete"><button type="submit" class="btn btn-danger">Delete Workspace</button></a>
            {{/if}}
          </h1>
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Some Error Message
          </div>
          {{#if testResults}}
          {{>lastTest }}
          {{/if}}
          <h2 class="sub-header">Basic</h2>
          <form class="form-horizontal" method="post" action="{{post_url}}">
          {{#if id}}
          <div class="form-group">
            <label for="inputId" class="control-label col-xs-2">Id</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="id" id="id" value="{{id}}" disabled>
            </div>
            <div class="offset-col-xs-5">
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="This id is used so it is easy to rename your job.">?</button>
            </div>
          </div>
          {{/if}}
          <div class="form-group">
            <label for="inputName" class="control-label col-xs-2">Name</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="name" id="inputName" placeholder="Name" value="{{name}}">
            </div>
            <div class="offset-col-xs-5">
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="this name must be unique for link">?</button>
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription" class="control-label col-xs-2">Description</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="description" id="inputDescription" placeholder="Description" value="{{description}}">
            </div>
            <div class="offset-col-xs-5">
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="short description">?</button>
            </div>
          </div>
          <h2 class="sub-header">Head</h2>
          <div class="form-group">
            <label for="inputHead0" class="control-label col-xs-2">Command</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="headCommand0" id="inputHead0" placeholder="" value="{{headCommand0}}">
            </div>
            <div class="offset-col-xs-5">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="remove item">x</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  + <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">command</a></li>
                    <li><a href="#">bash</a></li>
                  </ul>
                </div>
            </div>
          </div>
          <h2 class="sub-header">Source Control</h2>
          <div class="form-group">
            <label for="inputSCM" class="control-label col-xs-2">Type</label>
            <div class="col-xs-10">
              <div class="btn-group">
                <span class="input-group-addon">
                  <input type="radio" name="scm_type" value="none">
                </span>
                <button type="button" class="btn btn-default" disabled>none</button>
              </div>
              <div class="btn-group">
                <span class="input-group-addon">
                  <input type="radio" name="scm_type" value="git" checked>
                </span>
                <button type="button" class="btn btn-default" disabled>git</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputUrl" class="control-label col-xs-2">Url</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="scm_url" id="inputUrl" placeholder="http://github.com/fishin/gills" value="{{scm_url}}">
            </div>
            <div class="offset-col-xs-5">
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="repository url">?</button>
            </div>
          </div>
          <div class="form-group">
            <label for="inputBranch" class="control-label col-xs-2">Branch</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="scm_branch" id="inputBranch" placeholder="master" value="{{scm_branch}}">
            </div>
            <div class="offset-col-xs-5">
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="repository branch">?</button>
            </div>
          </div>
          <h2 class="sub-header">Body</h2>
          <div class="form-group">
            <label for="inputBody0" class="control-label col-xs-2">Command</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="bodyCommand0" id="inputBody0" placeholder="npm install" value="{{bodyCommand0}}">
            </div>
            <div class="offset-col-xs-5">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="remove item">x</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  + <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">command</a></li>
                    <li><a href="#">bash</a></li>
                  </ul>
                </div>
            </div>
            <label for="inputBody1" class="control-label col-xs-2">Command</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="bodyCommand1" id="inputBody1" placeholder="npm test" value="{{bodyCommand1}}">
            </div>
            <div class="offset-col-xs-5">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="remove item">x</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  + <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">command</a></li>
                    <li><a href="#">bash</a></li>
                  </ul>
                </div>
            </div>
          </div>
          <h2 class="sub-header">Tail</h2>
          <div class="form-group">
            <label for="inputTail0" class="control-label col-xs-2">Command</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="tailCommand0" id="inputTail0" placeholder="bin/tail.sh" value="{{tailCommand0}}">
            </div>
            <div class="offset-col-xs-5">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="remove item">x</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  + <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">command</a></li>
                    <li><a href="#">bash</a></li>
                  </ul>
                </div>
            </div>
          </div>
          <h2 class="sub-header">Notify</h2>
          <div class="form-group">
            <label for="inputNotify" class="control-label col-xs-2">Type</label>
            <div class="col-xs-10">
              <div class="btn-group">
                <span class="input-group-addon">
                  <input type="radio" name="notify_type" value="none" checked>
                </span>
                <button type="button" class="btn btn-default" disabled>none</button>
              </div>
              <div class="btn-group">
                <span class="input-group-addon">
                  <input type="radio" name="notify_type" value="email">
                </span>
                <button type="button" class="btn btn-default" disabled>email</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputTo" class="control-label col-xs-2">To</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" name="notify_to" id="inputTo" placeholder="lloyd.benson@gmail.com" value="{{notify_to}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSubject" class="control-label col-xs-2">Subject</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" name="notify_subject" id="inputSubject" placeholder="[ficion] {status} for {name}" value="{{notify_subject}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputMessage" class="control-label col-xs-2">Message</label>
            <div class="col-xs-10">
                <textarea class="form-control" name="notify_message" id="inputMessage" rows=10>{{notify_message}}</textarea>
            </div>
          </div>
          <h2 class="sub-header">Archival</h2>
          <div class="form-group">
            <label for="inputArchive" class="control-label col-xs-2">Pattern</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" name="archivePattern" id="inputArchive" placeholder="lab.json" value="{{archivePattern}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputNotify" class="control-label col-xs-2">Type</label>
            <div class="col-xs-10">
              <div class="btn-group">
                <span class="input-group-addon">
                  <input type="radio" name="archive_type" value="none" checked>
                </span>
                <button type="button" class="btn btn-default" disabled>none</button>
              </div>
              <div class="btn-group">
                <span class="input-group-addon">
                  <input type="radio" name="archive_type" value="maxnum" checked>
                </span>
                <button type="button" class="btn btn-default" disabled>maxnum</button>
              </div>
              <div class="btn-group">
                <span class="input-group-addon">
                  <input type="radio" name="archive_type" value="maxdays" checked>
                </span>
                <button type="button" class="btn btn-default" disabled>maxdays</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputMaxDays" class="control-label col-xs-2">Max Days</label>
            <div class="col-xs-2">
                <input type="text" class="form-control" name="archiveMaxDays" id="inputMaxDays" placeholder="7" value="{{archiveMaxDays}}">
            </div>
            <div class="offset-col-xs-2">
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="max days to keep archives">?</button>
            </div>
          </div>
          <div class="form-group">
            <label for="inputMaxNum" class="control-label col-xs-2">Max Num</label>
            <div class="col-xs-2">
                <input type="text" class="form-control" name="archiveMaxNum" id="inputMaxNum" placeholder="20" value="{{archiveMaxNum}}">
            </div>
            <div class="offset-col-xs-2">
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="max number to keep">?</button>
            </div>
          </div>
          <h2 class="sub-header">Scheduler</h2>
          <div class="form-group">
            <label for="inputScheduler" class="control-label col-xs-2">Type</label>
            <div class="col-xs-10">
              <div class="btn-group">
                <span class="input-group-addon">
                  <input type="radio" name="schedule_type" value="none">
                </span>
                <button type="button" class="btn btn-default" disabled>none</button>
              </div>
              <div class="btn-group">
                <span class="input-group-addon">
                  <input type="radio" name="schedule_type" value="cron" checked>
                </span>
                <button type="button" class="btn btn-default" disabled>cron</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputSchedule" class="control-label col-xs-2">Pattern</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="cronPattern" id="inputSchedule" placeholder="*/5 * * * *" value="{{cronPattern}}">
            </div>
            <div class="offset-col-xs-5">
                <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="cron format: min hour date month weekday">?</button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                {{#if id}}
                <button type="submit" class="btn btn-primary">Update</button>
                {{else}}
                <button type="submit" class="btn btn-primary">Create</button>
                {{/if}}
            </div>
          </div>
          </form>
