          <h1 class="page-header">Jobs
          <a href="/view/job"><button type="submit" class="btn btn-info">Create</button></a>
          </h1>
<!--
          <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#home" role="tab" data-toggle="tab">All <span class="badge">{{jobs.length}}</span></a></li>
          <li><a href="#builds" role="tab" data-toggle="tab">Builds</a></li>
          <li><a href="#deploys" role="tab" data-toggle="tab">Deploys</a></li>
          <li><a href="#tests" role="tab" data-toggle="tab">Tests</a></li>
          <li><a href="#createTray" role="tab" data-toggle="tab">+</a></li>
          </ul>
-->
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Id</th>
                  <th>Last Run Id</th>
                  <th>Last Run Finish Time</th>
                  <th>Tests (Succeeded)</th>
                  <th>Tests (Failed)</th>
                </tr>
              </thead>
              <tbody>
                {{#each jobs}}
                <tr class="{{classColor}}">
                  <td><a href="/view/job/{{jobId}}" title="{{description}}">{{name}}</a></td>
                  <td><a href="/view/job/{{jobId}}">{{shortJobId}}</a></td>
                  <td><a href="/view/job/{{jobId}}/run/{{runId}}">{{shortRunId}}</a></td>
                  <td>{{finishTime}}</td>
                  <td>{{succeededTests}}</td>
                  <td>{{failedTests}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
