{{#if lintErrors}}
<table class="table table-striped gills-table">
  <thead>
    <tr>
      <th colspan=4>Lint Errors <span class="badge">{{lintErrors}}</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>line</td>
      <td>severity</td>
      <td>message</td>
    </tr>
    {{#each testResult.lint}}
    <tr>
      <td colspan=3>{{filename}}</td>
    </tr>
    {{#each errors}}
    <tr class="danger">
      <td>{{line}}</td>
      <td>{{severity}}</td>
      <td>{{message}}</td>
    </tr>
    {{/each}}
    {{/each}}
  </tbody>
</table>
{{/if}}
