<div class="btn-group">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Jobs<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/gills/jobs">list</a></li>
      <li><a href="/gills/job/create">create</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Dashboard<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">create</a></li>
      <li><a href="#">statistics</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Settings<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">global</a></li>
      {{#if angler}}
      <li><a href="#">{{angler}}</a></li>
      {{/if}}
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      ?<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">topic 1</a></li>
      <li><a href="#">topic 2</a></li>
    </ul>
  </div>
</div>
