{{#if openprs}}
<table class="table table-striped gills-table">
  <thead>
    <tr>
      <th colspan=5>Open Pull Requests <span class="badge">{{openprs}}</span></th>
    </tr>
  </thead>
  <tbody>
  {{#if newPullRequests}}
    <tr>
      <td colspan=5>New Pull Requests <span class="badge">{{newPullRequests.length}}</span></td>
    </tr>
    <tr>
      <td>#</td>
      <td>Commit</td>
      <td>Author</td>
      <td>Branch</td>
      <td>Start</td>
    </tr>
    {{#each newPullRequests}}
    <tr>
      <td><a href="{{repoUrl}}/pull/{{this.number}}" title="{{this.title}}">{{this.number}}</a></td>
      <td><a href="{{repoUrl}}/commit/{{this.commit}}">{{this.shortCommit}}</a></td>
      <td><a href="#" title="{{this.remoteUser}}">{{this.shortAuthor}}</a></td>
      <td><a href="#" title="{{this.remoteBranch}}">{{this.shortBranch}}</a></td>
      <td><a class="btn btn-info" href="/view/job/{{jobId}}/pr/{{this.number}}/start">Start</a></td>
    </tr>
    {{/each}}
  {{/if}}
  {{#if checkedPullRequests}}
    <tr>
    <tr>
      <td colspan=5>Checked Pull Requests <span class="badge">{{checkedPullRequests.length}}</span></td>
    </tr>
    <tr>
      <td>#</td>
      <td>Run Id</td>
      <td>Commit</td>
      <td>Merge</td>
      <td>Retry</td>
    </tr>
    <tr>
      <td colspan=4>Finished</td>
      <td>Elapsed</td>
    </tr>
    {{#each checkedPullRequests}}
    <tr class="{{this.classColor}}">
      <td><a href="{{repoUrl}}/pull/{{this.number}}" title="{{this.title}}">{{this.number}}</a></td>
      <td><a href="/view/job/{{this.jobId}}/pr/{{this.number}}/run/{{this.runId}}">{{this.shortId}}</td>
      <td><a href="{{repoUrl}}/commit/{{this.commit}}">{{this.shortCommit}}</a></td>
<!--      <td><a class="btn {{this.buttonColor}}" href="/view/job/{{jobId}}/pr/{{this.number}}/merge">Merge</a></td>-->
      <td>{{showMerge this}}</td>
      <td><a class="btn btn-info" href="/view/job/{{jobId}}/pr/{{this.number}}/retry">Retry</a></td>
    </tr>
    <tr>
      <td colspan=4>{{this.finishTime}}</td>
      <td>{{this.elapsedTime}}</td>
    </tr>
    {{/each}}
  {{/if}}
  </tbody>
</table>
{{/if}}
