<table class="table table-striped gills-table">
  <thead>
    <tr>
      <th colspan=4>Queue <span class="badge">{{queue.length}}</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Priority</td>
      <td>Job Id</td>
      <td>
      Target
      </td>
      <td>
      Elapsed
      </td>
      <td><span class="glyphicon glyphicon-remove"></span></td>
    </tr>
    {{#each queue}}
    <tr>
      <td>{{@index}}</td>
      <td><a href="/view/job/{{jobId}}">{{shortId}}</td>
      <td>
      global
      </td>
      <td>
      {{elapsedTime}}
      </td>
      <td><a href="/view/queue/{{jobId}}/remove"><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
