<table class="table table-striped gills-table">
  <thead>
    <tr>
      <th colspan=4>Reels <span class="badge">{{reels.length}}</span></th>
      <th><a href="/view/reel"><span class="glyphicon glyphicon-plus"></span></a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan=5>global</th>
    </tr>
    {{#if activeJobsSize}}
    <tr>
      <td colspan=5>Active Jobs <span class="badge">{{activeJobsSize}}</span></td>
    </tr>
    <tr>
      <td>#</td>
      <td>Job Id</td>
      <td>Run Id</td>
      <td>Progress</td>
      <td>Elapsed</td>
    </tr>
    {{/if}}
    {{#each activeJobs}}
    <tr class="{{classColor}}">
      <td></td>
      <td><a href="/view/job/{{@key}}">{{shortJobId}}</td>
      <td><a href="/view/job/{{@key}}/run/{{runId}}">{{shortRunId}}</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-{{percentColor}} active" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent}}%">
            <span>{{percent}}%</span>
          </div>
        </div>
      </td>
      <td>{{elapsedTime}}</td>
    </tr>
   {{#each processes}}
    <tr class="{{classColor}}">
      <td colspan=3>{{this.command}}</td>
      <td colspan=1>{{pid}}</td>
      <td><a href="/view/job/{{jobId}}/run/{{runId}}/cancel"><span class="glyphicon glyphicon-ban-circle"></span></a></td>
    </tr>
    {{/each}}
    {{/each}}
    {{#if activeJobsPullRequests.length}}
    <tr>
      <td colspan=5>Active Pull Requests <span class="badge">{{activeJobsPullRequests.length}}</span></td>
    </tr>
    <tr>
      <td>#</td>
      <td>Job Id</td>
      <td>Run Id</td>
      <td>Progress</td>
      <td>Elapsed</td>
    </tr>
    {{/if}}
    {{#each activeJobsPullRequests}}
    <tr class="{{classColor}}">
      <td><a href="{{this.repoUrl}}/pull/{{this.number}}">{{this.number}}</a></td>
      <td><a href="/view/job/{{this.jobId}}">{{this.shortJobId}}</a></td>
      <td><a href="/view/job/{{jobId}}/pr/{{number}}/run/{{runId}}">{{this.shortRunId}}</a></td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-{{this.percentColor}} active" role="progressbar" aria-valuenow="{{this.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{this.percent}}%">
            <span>{{this.percent}}%</span>
          </div>
        </div>
      </td>
      <td>{{this.elapsedTime}}</td>
    </tr>
   {{#each this.processes}}
    <tr class="{{classColor}}">
      <td colspan=3>{{this.command}}</td>
      <td colspan=1>{{pid}}</td>
      <td><a href="/view/job/{{jobId}}/pr/{{number}}/run/{{runId}}/cancel"><span class="glyphicon glyphicon-ban-circle"></span></a></td>
    </tr>
    {{/each}}
    {{/each}}
    {{#each reels}}
    <tr>
      <th colspan=4><a href="/view/reel/{{id}}">{{name}}</a> (active)</th>
      <th><a href="/view/reel/{{id}}/delete"><span class="glyphicon glyphicon-remove"></span></a></th>
    </tr>
    {{/each}}
  </tbody>
</table>
