<h1 class="page-header">Run - {{name}}
  <a href="/view/job/{{id}}/run/{{runId}}/delete"><button type="submit" class="btn btn-danger">Delete</button></a>
  <a href="/view/job/{{id}}"><button type="submit" class="btn btn-info">Job</button></a>
</h1>
{{#if testResults}}
{{>testSummary }}
{{/if}}
<form class="form-horizontal">
{{#if archiveFiles}}
<h2 class="sub-header">Archive</h2>
{{#each archiveFiles}}
  <div class="form-group">
    <label for="inputFile" class="control-label col-md-2">File</label>
    <div class="col-md-3">
      <input type="text" class="form-control" id="inputFile" placeholder="{{file}}" disabled>
    </div>
    <a class="btn btn-info" href="/view/job/{{id}}/run/{{runId}}/archive/{{file}}">View</a>
  </div>
{{/each}}
{{/if}}
<h2 class="sub-header">Basic</h2>
  <div class="form-group">
    <label for="inputRunId" class="control-label col-md-2">Id</label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="inputRunId" placeholder="{{runId}}" disabled>
    </div>
  </div>
  {{#if startTime}}
  <div class="form-group">
    <label for="inputRunId" class="control-label col-md-2">Start Time</label>
    <div class="col-md-3">
      <input type="text" class="form-control" id="inputRunId" placeholder="{{startTime}}" disabled>
    </div>
  </div>
  {{/if}}
  {{#if finishTime}}
  <div class="form-group">
    <label for="inputRunId" class="control-label col-md-2">Finish Time</label>
    <div class="col-md-3">
      <input type="text" class="form-control" id="inputRunId" placeholder="{{finishTime}}" disabled>
    </div>
  </div>
  {{/if}}
  {{#if elapsedTime}}
  <div class="form-group">
    <label for="inputRunId" class="control-label col-md-2">Elapsed Time</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="inputRunId" placeholder="{{elapsedTime}}" disabled>
    </div>
  </div>
  {{/if}}
  <div class="form-group">
    <label for="inputRunId" class="control-label col-md-2">Status</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="inputRunId" placeholder="{{status}}" disabled>
    </div>
  </div>
<h2 class="sub-header">Commands</h2>
{{#each commands}}
<h3 class="sub-header">{{command}}</h3>
  {{#if startTime}}
  <div class="form-group">
    <label for="inputHead" class="control-label col-md-2">Start Time</label>
    <div class="col-md-3">
      <input type="text" class="form-control" id="inputRunId" placeholder="{{startTime}}" disabled>
    </div>
  </div>
  {{/if}}
  {{#if finishTime}}
  <div class="form-group">
    <label for="inputHead" class="control-label col-md-2">Finish Time</label>
    <div class="col-md-3">
      <input type="text" class="form-control" id="inputRunId" placeholder="{{finishTime}}" disabled>
    </div>
  </div>
  {{/if}}
  {{#if elapsedTime}}
  <div class="form-group">
    <label for="inputHead" class="control-label col-md-2">Elapsed Time</label>
    <div class="col-md-3">
      <input type="text" class="form-control" id="inputRunId" placeholder="{{elapsedTime}} ms" disabled>
    </div>
  </div>
  {{/if}}
  {{#if code}}
  <div class="form-group">
    <label for="inputHead" class="control-label col-md-2">Return Code</label>
    <div class="col-md-3">
      <input type="text" class="form-control" id="inputRunId" placeholder="{{code}}" disabled>
    </div>
  </div>
  {{/if}}
  {{#if signal}}
  <div class="form-group">
    <label for="inputHead" class="control-label col-md-2">Signal</label>
    <div class="col-md-3">
      <input type="text" class="form-control" id="inputRunId" placeholder="{{signal}}" disabled>
    </div>
  </div>
  {{/if}}
  {{#if stdout}}
  <div class="form-group">
    <label for="inputHead" class="control-label col-md-2">stdout</label>
    <div class="col-md-10">
      {{#if stdout}}
      <textarea class="form-control" name="stdout" id="inputMessage" rows=10 disabled>{{stdout}}</textarea>
      {{else}}
      <textarea class="form-control" name="stdout" id="inputMessage" disabled></textarea>
      {{/if}}
    </div>
  </div>
  {{/if}}
  {{#if stderr}}
  <div class="form-group">
    <label for="inputHead" class="control-label col-md-2">stderr</label>
    <div class="col-md-10">
      {{#if stderr}}
      <textarea class="form-control" name="stderr" id="inputMessage" rows=10 disabled>{{stderr}}</textarea>
      {{else}}
      <textarea class="form-control" name="stderr" id="inputMessage" disabled></textarea>
      {{/if}}
    </div>
  </div>
  {{/if}}
  {{#if error}}
  <div class="form-group">
    <label for="inputHead" class="control-label col-md-2">error</label>
    <div class="col-md-10">
      {{#if error}}
      <textarea class="form-control" name="error" id="inputMessage" rows=10 disabled>{{error}}</textarea>
      {{else}}
      <textarea class="form-control" name="error" id="inputMessage" disabled></textarea>
      {{/if}}
    </div>
  </div>
  {{/if}}
{{/each}}
</form>
