            <table class="table table-striped runs-table">
              <thead>
                <tr>
                  <th colspan=3>Run List</th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th>id</th>
                  <th>Finished</th>
                  <th>Elapsed</th>
                  <th><span class="glyphicon glyphicon-remove"></span></a></th>
                </tr>
              </thead>
              <tbody>
                {{#each runs}}
                <tr class="{{classColor}}">
                  <td><a href="/gills/job/{{id}}/run/{{run_id}}">{{short_id}}</td>
                  <td>{{finishTime}}</td>
                  <td>{{elapsedTime}}</td>
                  <td><a href="/gills/job/{{id}}/run/{{run_id}}/delete"><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
