<table class="table table-striped gills-table">
  <thead>
    <tr>
      <th colspan=4>Run List</th>
    </tr>
  </thead>
  <tbody>
    {{#if activeRuns}}
    <tr>
      <td colspan=4>Active Runs <span class="badge">{{activeRuns.length}}</span></td>
    </tr>
    {{/if}}
    {{#each activeRuns}}
    <tr class="{{classColor}}">
      <td><a href="/view/job/{{jobId}}/run/{{runId}}">{{shortId}}</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent}}%">
            <span>{{percent}}%</span>
          </div>
        </div>
      </td>
      <td>{{elapsedTime}} s</td>
      <td><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
   {{#each processes}}
    <tr class="{{classColor}}">
      <td colspan=2>{{this.command}}</td>
      <td colspan=1>{{this.pid}}</td>
      <td><a href="/view/job/{{this.jobId}}/run/{{this.runId}}/cancel"><span class="glyphicon glyphicon-ban-circle"></span></a></td>
    </tr>
    {{/each}}
    {{/each}}
    <tr>
      <td colspan=4>Finished Runs <span class="badge">{{finishedRuns.length}}</span></td>
    </tr>
    <tr>
      <td>Run Id</td>
      <td>Finished</td>
      <td>Elapsed</td>
      <td><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
    {{#each finishedRuns}}
    <tr class="{{classColor}}">
      <td><a href="/view/job/{{jobId}}/run/{{runId}}">{{shortId}}</td>
      <td>{{#if finishTime}}{{finishTime}}{{/if}}</td>
      <td>{{elapsedTime}} {{#if elapsedTime}}s{{/if}}</td>
      <td><a href="/view/job/{{jobId}}/run/{{runId}}/delete"><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
