            <table class="table table-striped runs-table">
              <thead>
                <tr>
                  <th>id</th>
                  <th>finishTime</th>
                  <th>x</th>
                </tr>
              </thead>
              <tbody>
                {{#each runs}}
                <tr class="{{classColor}}">
                  <td><a href="/gills/job/{{id}}/run/{{run_id}}">{{short_id}}</td>
                  <td>{{finishTime}}</td>
                  <td><a href="/gills/job/{{id}}/run/{{run_id}}/delete">x</a></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
