          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Job</a></li>
            <li><a href="/gills/jobs">list</a></li>
            <li><a href="/gills/job/create">create</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="">Statistics</a></li>
            <li><a href="">job</a></li>
            <li><a href="">run</a></li>
            <li><a href="">tests</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Settings</a></li>
            <li><a href="#">{{angler}}</a></li>
            <li><a href="#">global</a></li>
          </ul>
        {{#if id}}
        {{>runs }}
        {{/if}}

