<h1 class="page-header">Test - {{name}}
  {{#if jobId}}
  <a class="btn btn-info" href="/view/job/{{jobId}}/run/{{runId}}">Run</a>
  <a class="btn btn-info" href="/view/job/{{jobId}}">Job</a>
  {{/if}}
</h1>
<table>
<tr>
<td id="elapsedTimeTests"></td>
</tr>
</table>
{{#if testResult.totalTestFailures }}
<table class="table table-striped gills-table">
  <tbody>
    <tr>
      <th colspan=3>Failed Tests <span class="badge">{{testResult.totalTestFailures}}</span></th>
    </tr>
    <tr>
      <td>#</td>
      <td>test name</td>
      <td>duration</td>
    </tr>
    <tr>
    {{#each testResult.tests}}
    {{#each this}}
    {{#if err}}
    <tr id="{{testNum}}" class="danger">
      <td>{{testNum}}</td>
      <td>{{title}}</td>
      <td>{{duration}} ms</td>
    </tr>
    <tr class="danger">
      <td colspan=3>{{err}}</td>
    </tr>
    {{/if}}
    {{/each}}
    {{/each}}
  </tbody>
</table>
{{/if}}
<table class="table table-striped gills-table">
  <tbody>
    <tr>
      <th colspan=3>Tests <span class="badge">{{testResult.totalTests}}</span></th>
    </tr>
    <tr>
    {{#each testResult.tests}}
    <tr>
      <td>#</td>
      <td>test name in <b>{{@key}}</b></td>
      <td>duration</td>
    </tr>
    {{#each this}}
    <tr id="{{testNum}}" class="{{#if err}}danger{{else}}success{{/if}}">
      <td>{{testNum}}</td>
      <td>{{title}}</td>
      <td>{{duration}} ms</td>
    </tr>
    {{#if err}}
    <tr class="danger">
      <td colspan=3>{{err}}</td>
    </tr>
    {{/if}}
    {{/each}}
    {{/each}}
  </tbody>
</table>
<script src="/view/js/elapsedTimeTestsGraph.js"></script>
<script>
  elapsedTimeTestsGraph("{{jobId}}", "{{runId}}", "#elapsedTimeTests");
</script>

