<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="10"> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Jobs</title>

    <!-- Bootstrap core CSS -->
    <link href="/gills/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/gills/css/gills.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 sidebar">
        {{>sidebar }}
        </div>
        <div class="col-md-9 col-md-offset-3 main">
          <div class="navbar navbar-inverse col-md-9" role="navigation">
            <div class="container-fluid">
              {{> header }}
            </div>
          </div>
        {{>menu}}
        {{#if view_jobs}}
        {{>jobs }}
        {{/if}}
        {{#if view_users}}
        {{>users }}
        {{/if}}
        {{#if view_job}}
        {{>job }}
        {{/if}}
        {{#if view_run}}
        {{>run }}
        {{/if}}
        {{#if view_reel}}
        {{>reel }}
        {{/if}}
        {{#if view_user}}
        {{>user }}
        {{/if}}
        {{#if view_test}}
        {{>test }}
        {{/if}}
        {{#if view_coverage}}
        {{>coverage }}
        {{/if}}
        {{#if view_commits}}
        {{>commits }}
        {{/if}}
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/gills/js/bootstrap.min.js"></script>
    <script src="/gills/js/docs.min.js"></script>
  </body>
</html>
